@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
    font-family: 'Nanum Gothic', sans-serif;
}

.container {
    position: relative;
    width: 100%;
}

.header {
    top: 0;
    z-index: 110;
    height: 78px;
    width: 100%;
    min-width: 768px;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 16px;
}

/* nav logo */

.header h1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    padding: 24px 0 23px 30px;
}

/* .header h1 .logo {
    z-index: 20;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
} */

.header h1 .logo span {
    display: inline-block;
    width: 174px;
    height: 31px;
    background-image: url(./img/08341ee.png);
    background-size: 684px 663px;
    background-position: -220px -289px;
    color: transparent;
}

/* nav_search */ 

.search_wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 1158px;
    height: 78px;
    margin: auto;
}

@media (max-width: 1600px) {
    .header .search_wrap {
        width: 100%;
        margin-left: 238px;
    }
}


.search_wrap .search {
    position: absolute;
    top: 0;
    min-width: 140px;
    width: 764px;
    height: 78px;
    left: 0;
}


.search_wrap .search input {
    margin-top: 14px;
    padding: 0 16px;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 4px solid #ffd014;
    color: #000;
    background-color: #fff;
}

.search_wrap .search .nav_search {
    position: absolute;
    top: 0;
    width: 60px;
    height: 78px;
    z-index: 15;
    right: 0;
    cursor: pointer;
}

.fa-search {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 15px;
    width: 30px;
    height: 30px;
    font-size: 34px;
}

/* nav link */

.nav_link_wrap {
    position: absolute;
    right: 85px;
    top: 0;
}

.nav_link {
    display: block;
    right: 100px;
    top: 0;
    float: right;
    padding: 0 10px;
    height: 78px;
    line-height: 78px;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 550;
}

.nav_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 78px;
    z-index: 10;
    text-decoration: none;
    cursor: pointer;
}

.fa-bars {
    position: absolute;
    top: 45%;
    margin-top: -11px;
    right: 30px;
    width: 28px;
    height: 22px;
    font-size: 30px;
}

/* drop-down */
.scroll_wrap {
    position: fixed;
    right: 0;
    top: 0;
    width: 362px;
    height: 100%;
    background-image: #fafafa;
    z-index: 99999;
}

.profile {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 362px;
    height: 160px;
    background-color: rgb(254, 214, 54) ;
}

.profile_img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url(./img/08341ee.png) no-repeat;
    background-position: -378px 6px;
    background-size: 628px 593px;
    background-color: #fff;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}

.profile span strong{
    padding-left: 20px;
    font-weight: 900;
}

.fa-arrow-right {
    position: absolute;
    top: 12px;
    right: 17px;
    color: rgb(112, 77, 228);
    font-size: 30px;
    cursor: pointer;
}

.menu_top {
    position: absolute;
    right: 0;
    top: 160px;
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 170px;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}

.menu_top ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    list-style: none;
    vertical-align: middle;
}

.menu_top ul li {
    display: flex;
    flex-direction: column;
    float: left;
    width: 33.3%;
    height: 100%;
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    text-align: center;
}

.menu_top .credit {
    height: 60px;
    color: #fff;
    background-color: rgb(112, 77, 228);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 0 210px 0 25px;
    line-height: 60px;
}

.menu_top ul li .fas, .menu_top ul li .fab {
    padding-top: 20px;
    font-size: 34px;
    color: rgb(112, 77, 228);
}

.menu_top ul li span {
    padding-top: 10px;
    font-size: 14px;
}

.menu-bottom {
    background-color: #f6f6f6;
    height: 100vh;
    width: 362px;
}

.menu-bottom ul {
    position: absolute;
    top: 340px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

.menu-bottom ul li {
    color: #000;
    display: block;
    padding: 21px 25px 20px;
    border-top: 1px solid #ebebeb;
    background: #fff;
    font-size: 17px;
    font-weight: 500;
}

.menu-bottom ul li:first-child {
    color: #6d3afb;
}

.menu-bottom ul li .fas {
    position: absolute;
    right: 20px;
    color: #817e7e;
}

.center_move {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #6d3afb;
    padding: 14px 0 13px;
    background: #704de4;
    color: #ffd014;
    font-size: 18px;
    text-align: center;
}

.center_move .fa-arrow-alt-circle-right {
    font-size: 25px;
    padding-left: 10px;
}

/* footer */

.footer {
    display: block;
    position: relative;
    padding: 54px 0 50px;
    background-color: #ebebeb;
    color: #656565;
    font-size: 13px;
}

.footer_wrap {
    position: relative;
    width: 1158px;
    padding: 0;
    margin: 0 auto;
    text-align: left;
}

.footer_top {
    position: relative;
    padding-bottom: 23px;
    text-align: left;
}

/* .footer_logo {
    padding-left: 15px;
    color: rgb(49, 48, 48);
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
} */

.footer_logo_icon {
    display: inline-block;
    font-size: 0;
    color: transparent;
    line-height: 0;
    background-size: 684px 663px;
    background-image: url(./img/08341ee.png);
    background-position: -320px -250px;
    width: 168px;
    height: 34px;
}

.link_info {
    display: block;
    position: absolute;
    right: 0;
    bottom: 25px;
    font-size: 15px;
    list-style: none;
}

.link_info li {
    display: inline-block;
    margin-left: 0;
    margin: 5px 0 0 0px;
    font-size: 13px;
}

.link_info li a {
    display: inline-block;
    padding: 0 10px 0;
    color: #535353;
    cursor: pointer;
    text-decoration: none;
}

.link_info li::after {
    content: "";
    position: absolute; 
    top: 7px;
    width: 1px;
    height: 16px;
    background-color: #ccc;
}

.link_info li:last-child::after {
    width: 0;
}

/* footer - bottom */
.footer_bottom {
    display: block;
    padding: 25px 0 0;
    margin: 0;
    border-bottom: 0;
    border-top: 1px solid #e0e0e0;
}

.company_info {
    display: inline-block;
    position: relative;
    padding: 0 0 9px;
    width: 850px;
    color: #656565;
    text-align: left;
    list-style: none;
    border-bottom: 0;
}

.company_info li {
    position: relative;
    display: inline-block;
    margin: 5px 0 0 6px;
    padding-left: 8px;
    font-size: 13px;
    line-height: 19px;
    color: #656565;
}

.company_info li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 1px;
    height: 11px;
    background-color: #ccc;
}

.company_info .first::after {
    padding: 0;
    margin: 0;
    width: 0
}

.sns_list {
    display: block;
    position: absolute;
    right: 0;
    top: 88px;
}

.sns_list i {
    font-size: 35px;
}

.fa-blogger {
    color: rgb(37, 201, 37);
}

.fa-pen-square {
    color: rgb(37, 201, 37);
}

.fa-facebook-square {
    color: rgb(66, 76, 161);
}

.fa-twitter-square {
    color: rgb(0, 153, 255);
}

.fa-instagram-square {
    color: rgb(231, 99, 180);
}

.p_caution {
    display: block;
    margin: 27px auto 0;
    padding-left: 12px;
    line-height: 22px;
}

.copyright {
    position: absolute;
    right: 0;
    bottom: 4px;
    font-size: 12px;
}