.main {
    position: relative;
    background-color: #f6f6f6;
    height: 100vh;
}

.main h2 {
    padding: 40px 0;
    font-size: 34px;
    font-weight: 900;
    font-family: NanumBarunGothicBold,sans-serif;
    text-align: center;
    letter-spacing: -.5px;
    line-height: 1.2;
    color: #000;
}

.main_wrap {
    width: 1258px;
    padding: 30px 50px 100px;
    margin: 0 auto;
}

.login_container {
    width: 648px;
    padding: 32px;
    margin: 0 auto;
    box-sizing: border-box;
    background: #fff;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}

.naver, .kakao, .apple {
    display: block;
    position: relative;
    margin-top: 16px;
    height: 56px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 56px;
}

.login_btn .naver img {
    width: 35px;
    padding-right: 10px;
}

.login_btn .kakao img {
    width: 35px;
    padding-right: 10px;
}

.login_btn .apple img {
    width: 35px;
    padding-right: 10px;
}
.or {
    position: relative;
    width: 100%;
    margin-top: 32px;
    text-align: center;
}

.or::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ebebeb;
}